Host master-1
    HostName master-1.lab.net
    User steven
    IdentityFile ~/.ssh/id_rsa

Host master-2
    HostName master-2.lab.net
    User steven
    IdentityFile ~/.ssh/id_rsa

Host worker-1
    HostName worker-1.lab.net
    User steven
    IdentityFile ~/.ssh/id_rsa

Host worker-2
    HostName master-2.lab.net
    User steven
    IdentityFile ~/.ssh/id_rsa
